<!DOCTYPE html>
<html>

<head>
    <title>
        Skills
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Skills as of
        <%= time %>
    </h1>

    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
                -
                <%= s.skill ? 'done' : 'not done' %>
                    <form action="/skills/<%= s.id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit">X</button>
                    </form>
            </li>
            <% }); %>
    </ul>
    <a href="/"> <button>HOME PAGE</button></a>
    <a href="/skills/new"> <button>ADD NEW SKILL</button></a>
</body>


</html>